<!DOCTYPE HTML>
<html>
<head>
<title>Rafting </title>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type="text/javascript" src="/javascripts/bootstrap-3.1.1.min.js"></script>
<!-- Custom Theme files -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/stylesheets/lightbox.css">
<!-- Custom Theme files -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
<!-- <script src="/javascripts/" type="text/javascript"></script> -->
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<body>
<!-- header -->
<div id="home" class="banner">
	  <div class="banner-info">
	  <h2>MY IDEA OF A GREAT REFRESHMENT</h2>
	  <p>Aliquam nec feugiat lectus, gravida condimentum ut interdum tortor ultricies nec. Praesent aliquam auctor purus magna vehicula eget. </p>
	  </div>
	 <div class="side-menu">
		 <div class="logo">
			 <h1><a href="index-2.html">Rafting</a></h1>
		 </div>
		 <div class="top-menu">
			 <span class="menu"><img src="/images/menu.png" alt=""></span>
			 <ul class="nav1">
				 <li><a class="scroll" href="#home">Home</a></li>
				 <li><a class="scroll" href="#about">About</a></li>
				 <li><a class="scroll" href="#services">Services</a></li>
				 <li><a class="scroll" href="#raft">Raft Trips</a></li>
				 <li><a class="scroll" href="#register">Register</a></li>
				 <li><a class="scroll" href="#gallery">Gallery</a></li>
				
			 </ul>
			 <!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
		 <!-- /script-for-menu -->
		 </div>
	 </div>
	 <div class="container">
		 <div class="copy-rights">
				<ul>
					<li><a href="#"><span class="fa"> </span></a></li>
					<li><a href="#"><span class="tw"> </span></a></li>
					<li><a href="#"><span class="g"> </span></a></li>
					<li><a href="#"><span class="in"> </span></a></li>
					<li><a href="#"><span class="pin"> </span></a></li>
				</ul>
				<div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<!---728x90--->

<div id="about" class="about">
	 <div class="container">
		 <div class="about-top">
		 <h3>About</h3>
		  <i class="strp"></i>
		 </div>
		 <div class="about-grids">
			 <div class="grid1">
				 <div class="col-md-5 abt-pic">
					 <img src="/images/abt1.jpg" class="img-responsive" alt=""/>
				 </div>
				  <div class="col-md-7 abt-info">
					 <h4>Classic Rivers</h4>
					 <p>Nulla suscipit commodo augue, at facilisis purus facilisis in. Praesent vel purus id urna mollis efficitur. Cras at metus in magna dapibus scelerisque sed nec leo. Suspendisse finibus purus erat lacinia massa in efficitur pulvinar.</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="grid1">
				 <div class="col-md-7 abt-info">
					 <h4>Adventures</h4>
					 <p>Nulla suscipit commodo augue, at facilisis purus facilisis in. Praesent vel purus id urna mollis efficitur. Cras at metus in magna dapibus scelerisque sed nec leo. Suspendisse finibus purus erat lacinia massa in efficitur pulvinar.</p>
				 </div>
				 <div class="col-md-5 abt-pic">
					 <img src="/images/abt2.jpg" class="img-responsive" alt=""/>
				 </div>				  
				 <div class="clearfix"></div>
			 </div>
		 </div>
	 </div>
</div>
<!---->
<!---728x90--->

<div id="services" class="services">
	 <div class="container">
		 <div class="service-top">
		 <h3>Services</h3>
		 <i class="strp"></i>
		 </div>
		 <div class="strt-line"></div>
		 <div class="service-grids">
			 <div class="line"></div>
			 <div class="ser1">
				 <i class="line1"></i>
				<span class="glyphicon glyphicon-flag icon" aria-hidden="true"></span>
			 </div>
			 <div class="ser1">
				 <i class="line2"></i>
				<span class="glyphicon glyphicon-user icon" aria-hidden="true"></span>
			 </div>
			 <div class="ser1">
				 <i class="line3"></i>
				<span class="glyphicon glyphicon-plus-sign icon" aria-hidden="true"></span>
			 </div>
			 <div class="ser1">
				 <i class="line4"></i>
				<span class="glyphicon glyphicon-bullhorn icon" aria-hidden="true"></span>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="service-grids-info">
			 <div class="col-md-6 service-grid">				 
				<ul class="project_box">
				  <li class="mini-post-meta1">1</li>
				  <li class="desc"><h4><a href="#">Raft Training</a></h4>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>					  
				</ul>
					<div class="clearfix"> </div>
			 </div>
			 <div class="col-md-6 service-grid">				 
				<ul class="project_box">
				  <li class="mini-post-meta1">2</li>
				  <li class="desc"><h4><a href="#">Family Rafting Packs</a></h4>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>					  
				</ul>		
					<div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
			 <div class="col-md-6 service-grid">				 
				<ul class="project_box">
				  <li class="mini-post-meta1">3</li>
				  <li class="desc"><h4><a href="#">First Aid</a></h4>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>					  
				</ul>			
					<div class="clearfix"> </div>
			 </div>
			 <div class="col-md-6 service-grid">				 
				<ul class="project_box">
				  <li class="mini-post-meta1">4</li>
				  <li class="desc"><h4><a href="#">Mountain Rafting</a></h4>
				  	 <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
				  </li>					  
				</ul>	
					 <div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
		 </div>
	 </div>
</div>
<!---->
<!---728x90--->

<div id="raft" class="raftrips">
	 <div class="container">
		 <div class="raftrips-top">
			 <h3>Raft Trips</h3>
			 <i class="strp"></i>
			 </div>
		 <div class="rafting-grids">
			 <div class="rft-grid">
				 <div class="col-md-4 rft-pic">
					 <img src="/images/rf1.jpg" class="img-responsive" alt=""/>
				 </div>
				 <div class="col-md-8 rft-pic-info">
					  <h4>Group Rafting</h4>
					 <p>Nulla suscipit commodo augue, at facilisis purus facilisis in. Praesent vel purus id urna mollis efficitur. Cras at metus in magna dapibus scelerisque sed nec leo. Suspendisse finibus purus erat lacinia massa in efficitur pulvinar.</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="rft-grid">
				 <div class="col-md-4 rft-pic">
					 <img src="/images/rf4.jpg" class="img-responsive" alt=""/>
				 </div>
				 <div class="col-md-8 rft-pic-info">
					  <h4>Single Rafting</h4>
					 <p>Nulla suscipit commodo augue, at facilisis purus facilisis in. Praesent vel purus id urna mollis efficitur. Cras at metus in magna dapibus scelerisque sed nec leo. Suspendisse finibus purus erat lacinia massa in efficitur pulvinar.</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="rft-grid">
				 <div class="col-md-4 rft-pic">
					 <img src="/images/rf5.jpg" class="img-responsive" alt=""/>
				 </div>
				 <div class="col-md-8 rft-pic-info">
					  <h4>Speed Boat Rafting</h4>
					 <p>Nulla suscipit commodo augue, at facilisis purus facilisis in. Praesent vel purus id urna mollis efficitur. Cras at metus in magna dapibus scelerisque sed nec leo. Suspendisse finibus purus erat lacinia massa in efficitur pulvinar.</p>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
	 </div>	
</div>	
<! --->
<div id="register" class="contact">
	
	 <div class="container">
		 <div class="contact-top">
			 <h3>Register Now For An Exciting Adventure</h3>
				<i class="strp"></i>
			 </div>
			 <form action="/data" method="POST" >
				<div class="form-row">
				  <div class="form-group col-md-6">
					<label for="inputEmail4">Email</label>
					<input type="email" class="form-control" id="inputEmail4"  name="email" placeholder="Email" required>
				  </div>
				  <div class="form-group col-md-6">
					<label for="inputName">Name</label>
					<input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
				  </div>
				</div>
				<div class="form-group col-lg-12">
				  <label for="inputAddress">Address</label>
				  <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St" required>
				</div>
				
				<div class="form-row">
				  <div class="form-group col-md-6">
					<label for="inputCity">City</label>
					<input type="text" class="form-control" id="inputCity" name="city" required>
				  </div>
				  <div class="form-group col-md-6">
					<label for="inputState">state</label>
					<input type="text" class="form-control" id="inputState" name="state" required>
				  </div>
				 
				  <div class="form-group col-md-2">
					<label for="inputZip">Zip</label>
					<input type="text" class="form-control" id="inputZip" name="zipcode" required>
				  </div>
				</div>
				
				<div class="form-group col-lg-12">
				<button type="submit" class="btn btn-primary">Submit</button>
			    </div>
			  </form>
	</div>
	</div>

<!---->
<div id="gallery" class="gallery">
	 <div class="container">
		 <div class="gallery-top">
			 <h3>Gallery</h3>
				<i class="strp"></i>
			 </div>
		 <div class="gallery-bottom">
				<div class="gallery-1">
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g2.jpg" data-lightbox="example-set"><img class="example-image" src="images/g2.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g1.jpg" data-lightbox="example-set"><img class="example-image" src="images/g1.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g3.jpg" data-lightbox="example-set"><img class="example-image" src="images/g3.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="images/g5.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g6.jpg" data-lightbox="example-set"><img class="example-image" src="images/g6.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g1.jpg" data-lightbox="example-set"><img class="example-image" src="images/g1.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g4.jpg" data-lightbox="example-set"><img class="example-image" src="images/g4.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g3.jpg" data-lightbox="example-set"><img class="example-image" src="images/g3.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="/images/g5.jpg" data-lightbox="example-set"><img class="example-image" src="images/g5.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				</div>				
		 </div>
	 </div>
</div>	
<script src="javascripts/lightbox-plus-jquery.min.js"></script>		 


<!---->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p> © 2019 Rafting. All rights reserved</p>
		 </div>		 
	 </div>
</div>
<!---->
<!---->
<script type="text/javascript" src="/javascripts/move-top.js"></script>
<script type="text/javascript" src="/javascripts/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---->
<!--script-->
<script type="text/javascript">
		$(document).ready(function() {
			
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>

</html>